.ride-card{
    margin: 1em;
    border-radius: .75em;
    box-shadow: 0 0 10px rgba(61, 51, 64, 0.53);
    width: 100%;
    cursor: pointer;
}


.call-container{
    display: flex;
    justify-content: left;
    border: 2px rgba(37, 143, 103, .3) solid;
    border-radius: 5em;
    padding: .5em;
    margin-right: 5px;
    margin-bottom: 1em;
    font-weight: bold;
    animation: ripple 600ms linear;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(61, 51, 64, 0.23);
}

a{
    text-decoration: none;
    color: black;
}

.prod-card-container{

    border-radius: .7em;
    box-shadow: 0 0 10px rgba(61, 51, 64, 0.53);
}

.custom-hr{
    width: 100%;
    height: 1px;
    background: #e3e3e3;
}

.checkList{
    display: block;
}